body{
    background-color: aquamarine;
    min-height: 100vh;
    display: table;
}
main{
    overflow: hidden;
}
h2, h3{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}


/*NAVBAR*/
#top-navbar{
    max-width: 100%;
}
.swimming{
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
    letter-spacing: 0.3rem;
}

.coach{
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    font-weight: 100;
}

.navbar-toggler{
    margin-right: 0;
}

#BODY1{
    background-color:cadetrgb(138, 211, 233, 0.6);
    text-align: center;
}

/* Carousel */
#carouselExampleCaptions{
    background-color: cornflowerrgb(138, 211, 233, 0.6);
    max-width: 100% !important; 
    margin:0;
}

.carousel-item{
    background-color: darkcyan;
    height: auto;
    max-height: 80vh;
}

.carousel-caption{
    background-color: rgb(95, 158, 160, 0.8);
}

/* PRESENTATION */
#presentation{
    background-color: rgb(235, 244, 253);
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    margin:0;
}

.about-img{
    height: 20%;
    width: 20%;
    image-rendering:optimizeQuality;
}

.about-bloc p{
    text-align: justify;
    margin: 2rem 2rem;
}

#presentation .row{
    margin:0;
    padding:0;
}


/* FEATURES */

#features{
    background-color: rgb(138, 211, 233);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin:0;
    padding:0;
    max-width: 100%;
}

#features h4{
    margin-top: 1.5rem;
    margin-bottom:1.5rem;
}
#features img{
    max-height:50%;
    max-width:50%;
}

/* CONTACT*/

#contact{
    background-color: rgb(235, 244, 253);
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0 1rem;
    max-width: 100%
}

#contact-links{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#contact a{
    color: rgb(33, 37, 41);
    text-decoration:none;
}

/* FOOTER */
.footer-navbar{
    height: 2.5rem;
    max-width: 100%
}

.img-footer{
    height: 3rem;
    width: 3rem;
    font-size: 1rem;
}
.footer-navbar a{
    color: rgb(23, 44, 90);
}
.footer-navbar i{
    color: rgb(23, 44, 90);
    padding-bottom: 0.5rem;
}
body > footer {
    display: table-row;
}

/* SIZE RESPONSIVNESS ON MOBILE */

/*This is for laptop*/
@media (max-width: 400px) {
    h1{
        font-size: large;
    }
    h2, h3{
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
    .swimming{
        font-family: 'Amatic SC', cursive;
        font-size: 1.75rem;
    }
    .coach{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.75rem;
        font-weight: 100;
        padding-right:0;
        margin-right:0;
    }
    .carousel-item h4{
        font-size: small;
    }
    .carousel-item p{
        font-size: x-small;
    }

}

@media (max-width: 500px) {

    h2, h3{
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }

    .about-bloc p{
        text-align: justify;
        margin: 0.75rem 0.75rem;
    }
   
    #contact a, #contact h4{
        font-size: small;
    }

    .footer-navbar p{
        font-size: small;
    }
}
